/* GNU AGPLv3 Licence - Inspired by https://jae.fi/ (Jae Lo Presti) */

@font-face {
    font-family: 'pixel';
    src: url('/assets/fonts/pixel.woff2');
}

/* Light Mode */
:root {
    --primary-cyan: #0891b2;
    --primary-green: #16a34a;

    --background-color: #d1d5db;
    --text-color: #121212;


    /* Paddings */
    --padsize: 0.625rem;

    /* Margins */
}

/* Dark Mode */
/* Note to Jae: Let users choose if they want DARK or LIGHT mode without forcing system change */
[data-theme="dark"] {
    --primary-cyan: #0891b2;
    --primary-green: #16a34a;

    --background-color: #121212;
    --secondry-background-color: #18181b;
    --text-color: #d1d5db;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 3rem;
    font-family: pixel;
}

p {
    word-wrap: anywhere;
    font-size: 1.4em;
}

a {
    color: unset;
    text-decoration-style: dotted;
    color: var(--primary-green);
}

.text-green {
    color: var(--primary-green);
}

.text-cyan {
    color: var(--primary-cyan);
}


/* Page */
.floof-page {
    margin: auto;
    width: 100%;
    max-width: 1500px;
    border: 3px solid var(--primary-cyan);
    box-sizing: border-box;
    min-height: 100vh;
}

/* Header */
.floof-header {
    border-bottom: 3px solid var(--blue);
    padding-left: 5px;
    max-width: 100%;
    max-height: 150vh;
    padding-bottom: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;

    color: white;
    border-bottom: 3px solid var(--primary-cyan);
    background: linear-gradient(90deg, var(--background-color) 0%, var(--primary-cyan) 33%, var(--primary-cyan) 66%, var(--background-color));
}

.floof-header a {
    color: white;
    text-shadow: 5px 5px #065164;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.floof-header .title {
    font-size: 2.5em;
}

.floof-header .subtitle {
    font-size: 1.5em;
}

/* Page Container */
.floof-container {
    display: flex;
    background-color: var(--secondry-background-color);
}

/* Page Navigation */
.floof-navigation {
    min-width: 22%;
    max-width: 22%;
    padding: 0 var(--padsize) var(--padsize) var(--padsize);
    word-wrap: break-word;
    border-right: 3px solid var(--primary-cyan);
    min-height: 100vh;
}

.floof-navigation h1 {
    text-align: center;
}

.floof-navigation p {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.floof-navigation hr {
    border-color: var(--primary-cyan);
}

/* Page Content */
.floof-content {
    padding: 1.5rem;
    font-size: 1.5em;
}

/* Floof Alert */
.floof-alert {
    margin-top: 0.5em;
    padding: 0.7em 5.5em 0.7em 5.5em;
    text-align: center;
}

.floof-alert p {
    padding: 0em;
    margin: 0em;
}

/* Gradient Animations */
/* Animate Gradient */
@keyframes gradientAnimation {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.animated-gradient {
    background-size: 200% 200%;
    animation: gradientAnimation 15s infinite;
    background-image: linear-gradient(to right, #c2410c, #b91c1c);
    color: white;
}

.sidepfp {
    float: right;
    max-width: 10em;
    border: 3px solid var(--primary-cyan);
    margin-left: 2em;
    margin-right: 2em;
}

.floof-content p {
    font-size: 1.1em;
}

.floof-content hr {
    border-color: var(--primary-cyan);
}

/* Mobile Responsiveness */
@media (max-width: 991px) {
    body {
        padding: 0px;
    }

    .floof-container {
        flex-wrap: wrap;
    }

    .floof-navigation {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }
}

.floof-navigation .floof-card {
    border: 3px solid var(--primary-green);
    font-size: 1.5rem;
    padding: 0px;
}

.floof-navigation .floof-card .floof-header {
    border-bottom: 3px solid var(--primary-green);
    background: linear-gradient(90deg, var(--background-color) 0%, var(--primary-green) 33%, var(--primary-green) 66%, var(--background-color));
}

.floof-navigation .floof-card .floof-header h3 {
    font-size: 4rem;
}

.floof-navigation .floof-card p {
    margin: 1rem;
    padding-left: 0px;
}

.floof-navigation .floof-card ul {
    margin: 1rem;
    padding-left: 2.3rem;
}

.floof-navigation .floof-card a {
    color: var(--primary-cyan)
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.floof-error h1 {
    margin: 1.3rem 0 0 0;
}

.floof-error p {
    margin: 1.2rem 0 0 0;
}

.floof-error img {
    width: 250px;
    height: 250px;
}