{% extends "layouts/layout.html" %}
{% block content %}
        <div class="floof-content" style="flex-grow: 1;">
            <h2 id="latest-of-the-blog" tabindex="-1">Latest of my blog</h2>
            <p>Don't miss anything from the blog <a href="/blog/index.xml">by fetching the LynixAPI</a>!<br>
                Feeds are available in <a href="/blog/index.json">JSON</a>
            </p>
            <ul>
                <li><a href="#">[2023/09/05] A new year of Cybersecurity!</a></li>
                <li><a href="#">[2023/09/04] Lynix.ca v1.2.72, new styles and changes!</a></li>
                <li><a href="https://lynix.ca/blog/why-did-i-switch-to-svelte">[2023/08/21] Embracing Svelte: Transforming lynix.ca for Stability</a></li>
            </ul>
        </div>
{% endblock content %}