{% extends "layouts/layout.html" %}
{% block content %}
<div class="floof-content">
    <h1>My Fursona - Lynix</h1>
    <img src="/static/imgs/Lynix.png" alt="Lynix's Fursona drawn by Mulliganos" class="sidepfp">
    <p class="mt-3 text-base sm:text-md">
        <span class="text-cyan">What's a fursona?</span> A fursona
        is a customized animal character representing someone in the furry fandom,
        ranging from anthropomorphic personas to roleplay characters or digital
        mascots.
    </p>
    <p class="text-base sm:text-md mt-2">
        <span class="text-cyan">What's a furry?</span> A furry is
        someone who is a fan or enthusiast of characters that depict animals with
        human characteristics, such as talking, walking on two legs, and displaying
        human-like emotions and behaviors.
    </p>

    <br/>
    <p>Species: Lynx (Cybernetic) <br/><br/>Lynix, the cybernetic lynx, possesses a set of mesmerizing dual-colored cybernetic eyes, with hues spanning from vivid green to striking cyan. These remarkable cybernetic eyes not only enhance its visual acuity but also contribute to its overall cybernetic nature. In addition to its cybernetic vision, Lynix has the exceptional ability to thrive in the vacuum of space, a feat made possible by its extraordinary design.
        <br/><br/>
        Lynix's collar is equipped with advanced holographic text functionality, adding a futuristic touch to its appearance. Recognized as a "spotted Lynx", Lynix stands out not only for its physical characteristics but also for its exceptional cybernetic capabilities. Embedded within Lynix is an implant that grants it the power to detect cyberattacks. When this formidable lynx senses such threats, its ear tips illuminate in a vivid shade of red, showcasing its readiness to defend against digital intrusions.
        <br/><br/>
        This remarkable fusion of natural and artificial attributes, including its striking cybernetic eyes, enables Lynix to establish a profound connection with The Lynx Network, where its unique abilities are harnessed for the greater good.
        <br/>
        <span class="text-green" style="font-style: italic;">(This description is still W.I.P)</span>
    </p>

    <h1>Reference Sheet</h1>
    <span class="text-green" style="font-style: italic;">(W.I.P)</span>
    <h1>Artwork of Lynix</h1>
    <span class="text-green" style="font-style: italic;">(W.I.P)</span>
    <h1>Stickers</h1>
    <span class="text-green" style="font-style: italic;">(W.I.P)</span>
    <h1>Friends of Lynix</h1>
    <span class="text-green" style="font-style: italic;">(W.I.P)</span>
</div>
{% endblock content %}