{% extends "layout.html" %}
{% block content %}
            <div class="floof-content">


                <div class="floof-alert animated-gradient">
                    <p>Welcome to the new Lynix.ca, built with Rust & FloofRender! <span style="font-weight: 600;">Learn More</span></p>
                </div>


                <h1>Welcome to my website!</h1>
                <img src="/static/imgs/Lynix.png" alt="Lynix's Fursona drawn by Mulliganos" class="sidepfp">

                <p>
                    Greetings, I am Anthony, also known as Lynix. I am a dedicated Cybersecurity student actively pursuing opportunities to further my knowledge and gain practical experience in the field. Beyond my academic pursuits, I have a fervor for artistic expression, dedicating my free time to web development. Additionally, I find relaxation and exploration in the realm of video games. I am proudly located in Canada, evident from my domain name using the .ca extension.</p>

                <blockquote>
                    <p><span class="notice" style="font-weight:700;color:#d97706;">[!] Notice:</span> Everything on this website and blog is solely my own work and does not reflect the views of any current or former employers. To dispute any content, please feel free to contact me.</p>
                </blockquote>

                <p style="font-weight:bold;">You can reach out to me through the following platforms: </p>
                <ul>
                    <li>Matrix: @lynix:lynix.ca</li>
                    <li>Discord: @lynix.ca</li>
                    <li>Telegram: @cyberlynix</li>
                </ul>
                <br/>
                <hr/>
                <h2 id="latest-of-the-blog" tabindex="-1">Latest of my blog</h2>
                <p>Don't miss anything from the blog <a href="/blog/index.xml">by fetching the LynixAPI</a>!<br>
                    Feeds are available in <a href="/blog/index.json">JSON</a>
                </p>
                <ul>
                    <li><a href="#">[2023/09/05] A new year of Cybersecurity!</a></li>
                    <li><a href="#">[2023/09/04] Lynix.ca v1.2.72, new styles and changes!</a></li>
                    <li><a href="https://lynix.ca/blog/why-did-i-switch-to-svelte">[2023/08/21] Embracing Svelte: Transforming lynix.ca for Stability</a></li>
                </ul>
            </div>
{% endblock content %}