{% extends "layouts/layout.html" %}
{% block content %}
<div class="floof-content">

    <h1>FloofRender Reactivity Test</h1>
    <button id="incrementButton">Increment Count: 0</button>

    <hr/>

    <button id="toggleButton">Toggle Element</button>
    <div x-custom-show="showElement">This is a visible element.</div>
</div>

<script src="/static/floof.js"></script>
<script>

    const incrementButton = document.getElementById('incrementButton');

    const reactiveData = FloofReactivity();

    reactiveData.createProperty('btnCount', 5);
    reactiveData.createProperty('showElement', true);

    console.log("Initial Value: " + reactiveData.getValue('btnCount'));

    /* Initial State */
    incrementButton.textContent = `Increment Count: ${reactiveData.getValue('btnCount')}`;

    /* Effect */
    reactiveData.createEffect(() => {
        incrementButton.textContent = `Increment Count: ${reactiveData.getValue('btnCount')}`;
    });

    incrementButton.addEventListener('click', () => {
        const currentCount = reactiveData.getValue('btnCount');
        reactiveData.setValue('btnCount', currentCount + 1);
    });


    /* Show Effect */
    reactiveData.createEffect((changedProperty) => {
        if (changedProperty === 'showElement') {
            const element = document.querySelector('[x-custom-show]');
            if (reactiveData.getValue('showElement')) {
                element.style.display = 'block';
            } else {
                element.style.display = 'none';
            }
        }
    });

    // Add an event listener to toggle the visibility
    const toggleButton = document.getElementById('toggleButton');
    toggleButton.addEventListener('click', () => {
        reactiveData.setValue('showElement', !reactiveData.getValue('showElement'));
    });

</script>
{% endblock content %}