{% extends "layout.html" %}
{% block content %}
<div class="floof-content">


    <div class="floof-alert animated-gradient" style="display: none;">
        <p>Success! The collar has received the command!</p>
    </div>
    <br/>
    <br/>

    <blockquote style="margin-left:0;">
        <p><span class="notice" style="font-weight:700;color:#d97706;">[!] Notice:</span> LynxShock can be dangerous if used incorrectly, use at your own risk. Please do not kill Lynix! Never use on your neck!</p>
    </blockquote>
    <br/>
    <div class="status" style="margin-top:10px;margin-bottom: 3px;">
        Server Connection Status: <span id="connectionStatus" style="color: red;">Disconnected</span>
    </div>
    <div class="status" style="margin-top:10px;margin-bottom: 3px;">
        Shocker Connection Status: <span id="connectionShockerStatus" style="color: red;">Disconnected</span>
    </div>
    <div class="status" style="margin-top:10px;margin-bottom: 3px;">
        Latest Server Log: <span id="logStatus" style="color: gray;">-</span>
    </div>
    <br/><br/>

    <div style="display:flex;flex-direction: column;margin-bottom: 5px;">
        <div style="margin-bottom: 10px;">
            Mode: <select id="continousSelect">
            <option>Normal</option>
            <!--<option>Continous</option>
            <option>Russian Roulette</option>
            <option>Warning + Shock</option>
            <option>Double Shock</option>
            <option>Double Shock (Random)</option>
            <option>Triple Shock</option>
            <option>Triple Shock (Random)</option>-->
        </select>
        </div>

        <div style="margin-bottom: 10px;">
        Intensity (1-99): <input type="number" id="intensity" max="99" min="1"  style="width:100px;" placeholder="Intensity" value="1">
    </div>

    <div style="margin-bottom: 10px;">
        Duration (1-120s): <input type="number" id="duration" max="30" min="1"  style="width:100px;" placeholder="Duration (seconds)" value="1">
    </div>

    <div id="ping-delay" style="margin-bottom: 10px;">
        Countdown (seconds): <input type="number" id="pingDelay" style="width:100px;" placeholder="seconds" value="0">
    </div>
    </div>

    <div style="display:flex;margin-bottom: 5px;">
        <button id="reconnectButton" style="margin-right:5px;">Reconnect</button>
        <button id="stopButton">Emergency Stop</button>
    </div>
    <div style="display: flex;">
        <button id="beepButton" class="action-button" style="margin-right:10px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 010 12.728M16.463 8.288a5.25 5.25 0 010 7.424M6.75 8.25l4.72-4.72a.75.75 0 011.28.53v15.88a.75.75 0 01-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.01 9.01 0 012.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75z" />
            </svg>
        </button>
        <button id="vibeButton" class="action-button" style="margin-right:10px;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.651a3.75 3.75 0 010-5.303m5.304 0a3.75 3.75 0 010 5.303m-7.425 2.122a6.75 6.75 0 010-9.546m9.546 0a6.75 6.75 0 010 9.546M5.106 18.894c-3.808-3.808-3.808-9.98 0-13.789m13.788 0c3.808 3.808 3.808 9.981 0 13.79M12 12h.008v.007H12V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
            </svg>
        </button>
        <button id="zapButton" class="action-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
            </svg>
        </button>
    </div>
</div>

<script>
    const connectionStatusElement = document.getElementById('connectionStatus');
    const connectionShockerStatusElement = document.getElementById('connectionShockerStatus');
    const logStatus = document.getElementById('logStatus');

    const actionSelect = document.getElementById('actionSelect');
    const authInput = document.getElementById('auth');
    const intensityInput = document.getElementById('intensity');
    const durationInput = document.getElementById('duration')
    const pingDelayInput = document.getElementById('pingDelay');


    const reconnectButton = document.getElementById('reconnectButton');
    const zapButton = document.getElementById('zapButton');
    const vibeButton = document.getElementById('vibeButton');

    const urlParams = new URLSearchParams(window.location.search);
    const session = urlParams.get('session');
    const user = urlParams.get('user');

    let socket;

    // Function to update the connection status
    function updateStatus(status) {
        connectionStatusElement.textContent = status;
        // Set different colors based on status
        if (status === 'Connected') {
            connectionStatusElement.style.color = 'green';
        } else if (status === 'Error' || status === 'Connection lost') {
            connectionStatusElement.style.color = 'red';
        } else {
            // Default color for other statuses
            connectionStatusElement.style.color = 'gray';
        }
    }

    function updateShockerStatus(status) {
        const currentTime = new Date().toLocaleTimeString(); // Get the current time

        if (status === 'Connected') {
            connectionShockerStatusElement.textContent = `Connected at ${currentTime}`;
            connectionShockerStatusElement.style.color = 'green';
        } else {
            connectionShockerStatusElement.textContent = status; // Display the status as-is when not connected
            connectionShockerStatusElement.style.color = 'red';
        }
    }

    // Function to handle WebSocket message reception
    function handleMessage(event) {
        console.log('Received message:', event.data);
        const message = JSON.parse(event.data);
        // You can handle the received message here
        if (message.response === 'ping' && message.client_id === session) {
            updateShockerStatus('Connected');
        }

        if(message.response === 'info') {
            logStatus.textContent = message.msg;
        }
    }

    // Function to handle WebSocket errors
    function handleError(error) {
        console.error('WebSocket error:', error);
        updateStatus('Error');
    }

    // Function to connect to the WebSocket server
    function connectWebSocket() {
        socket = new WebSocket('wss://cxsnrc2qpp5ohu2xah1r49h865n9t8kz.lynix.ca');

        socket.addEventListener('open', (event) => {
            updateStatus('Exchanging Authentification...');

            // Send an initial message with a random auth key
            const randomClientKey = Array.from({ length: 32 }, () =>
                Math.random().toString(36)[2]
            ).join('');

            const initialMessage = {
                client_id: randomClientKey,
                client_type: 'web'
            };
            socket.send(JSON.stringify(initialMessage));

            // Introduce a 0.5-second delay before updating the status to 'Connected'
            setTimeout(() => {
                updateStatus('Connected');
            }, 500); // 500 milliseconds (0.5 seconds)
        });

        socket.addEventListener('message', handleMessage);

        socket.addEventListener('error', (event) => {
            handleError(event.error);
        });

        socket.addEventListener('close', (event) => {
            if (event.wasClean) {
                updateStatus('Disconnected');
            } else {
                updateStatus('Connection lost');
            }
        });
    }

    // Function to send data to the WebSocket server
    function sendWebSocketData() {
        const action = actionSelect.value;
        const auth = authInput.value;
        const intensity = intensityInput.value;
        const duration = durationInput.value;
        const pingDelay = pingDelayInput.value;


        const data = {
            auth,
            action,
            duration,
            intensity,
            pingDelay
        };

        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify(data));
        }
    }

    // Function to reconnect the WebSocket
    function reconnectWebSocket() {
        updateShockerStatus('Disconnected');

        if (socket && (socket.readyState === WebSocket.OPEN || socket.readyState === WebSocket.CONNECTING)) {
            socket.close();
        }

        connectWebSocket();
    }

    function sendPingMessage() {
        //updateShockerStatus('Disconnected');

        const pingMessage = {
            cmd: 'ping',
            client_id: session
        };

        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify(pingMessage));
        }
    }

    //sendButton.addEventListener('click', sendWebSocketData);
    reconnectButton.addEventListener('click', reconnectWebSocket);

    zapButton.addEventListener('click', zap);
    vibeButton.addEventListener('click', vibe);

    function zap() {
        const intensity = intensityInput.value;
        const duration = durationInput.value;
        const pingDelay = pingDelayInput.value;


        const data = {
            cmd: 'serial',
            client_id: session,
            user: user,
            data: {
                action: "Shock",
                duration,
                intensity,
                pingDelay
            }
        };

        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify(data));
        }
    }

    function vibe() {
        const intensity = intensityInput.value;
        const duration = durationInput.value;
        const pingDelay = pingDelayInput.value;


        const data = {
            cmd: 'serial',
            client_id: session,
            user: user,
            data: {
                    action: "Vibrate",
                    duration,
                    intensity,
                    pingDelay
            }
        };

        if (socket.readyState === WebSocket.OPEN) {
            socket.send(JSON.stringify(data));
        }
    }

    // Check if collar is online
    setInterval(sendPingMessage, 1000);

    // Initial WebSocket connection
    connectWebSocket();
</script>

<style>
    input, select {
        font-family: pixel;
        font-size: 20px;
        background: #121212;
        border: solid 1px #0891b2;
        color: #d1d5db;
        padding: 5px 5px 5px 5px;
    }

    .action-button {
        width: 40px; /* Set the width and height to make it square */
        height: 40px;
        display: flex; /* Use flexbox to center the icon */
        justify-content: center;
        align-items: center;
    }

    .floof-content {
        width: 100%;
    }

    .floof-alert {
        background: #16a34a;
    }

    .slidecontainer {
        display:flex;
        justify-content: center;
        justify-items: center;
        place-items: center;
    }

    #reconnectButton {
        font-family: pixel;
    }

    #stopButton {
        font-family: pixel;
        border: solid 1px #b91c1c;
        background: #b91c1c;
        color: #d1d5db;
    }

    button {
        background: #0891b2;
        color: #18181b;
        border: solid 1px #0891b2;
        font-size: 25px;
    }

    /* Hover effect */
    button:hover {
        background: #047097; /* Change the background color on hover */
        border-color: #047097; /* Change the border color on hover */
    }

</style>
{% endblock content %}