/* GNU AGPLv3 Licence - Inspired by https://jae.fi/ (Jae Lo Presti) */
    
@font-face {
  font-family: 'pixel';
  src: url('/fonts/pixel.woff2');
}

:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-cyan: #0891b2;
  --primary-green: #16a34a;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem;
  font-size: 2em;
  font-family: pixel;
}

.text-green {
  color: var(--primary-green);
}

.text-cyan {
  color: var(--primary-cyan);
}